body {
font-family: Tahoma, Helvetica, Arial, sans-serif;
font-size: 0.8em; 
background-color: #000;
color: #fff;
}
a { color: #4444ff; text-decoration: none; }
a:hover { text-decoration: underline; }
a:active { color: #ffff00; }
h1 { margin-top: 0 }
h3 { margin: 0; }
button{ height: 40px padding: 10px; font-size: 1em; color: white; border-radius: 3px; -moz-border-radius: 3px; border: 2px solid #3a85ff; background-color: #3a85ff; -webkit-transition-duration: 0.2s; transition-duration: 0.2s; cursor: pointer;}
button:hover { background-color: #67a0fc; color: white; border: 2px solid #67a0fc; }
div.header{ font-size: 6em; }
div.container{ margin:0; float:bottom; overflow:hidden; }
div.box{ width: 300px; height: 300px; padding: 10px; font-size: 1.3em; border-radius: 7px; -moz-border-radius: 7px; background-repeat: no-repeat; float:left; overflow:hidden; margin-right:10px; margin-bottom:10px; }
div.title{ font-size: 1.8em; height: 160px; text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black; }
div.desc { height: 110px; }